<%- include("header") -%>
  <div class="box" id="heading">
    <h1> <%= arDay %> </h1>
    <h1 name="listTitle"> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% listArray.forEach( item =>{ %>

    <form  action="/delete" method="post">
      <div class="item">
        <input type="hidden" value="<%=listTitle %>" name="title">

        <input type="hidden" value="<%=item._id%>" name="itemID">
        <input type="checkbox" value="<%=item.name%>" name="itemName" onchange="this.form.submit()">

        <p><%= item.name %></p>
      </div>
    </form>
    <% }); %>

    <form action="/" method="post" class="item">
      <input type="text" name="newItem" placeholder="اضافة مهمة" autocomplete="off">
      <button class="addBtn" type="submit" name="list" value= "<%= listTitle%>">+</button>
    </form>

  </div>

  <div class="box">
    <% if (historyList) historyList.forEach( hitem =>{ %>
    <p class="historyItems"><%=hitem.name%></p>
    <% }); %>
  </div>

  <form action="/clear" method="post">
    <input type="hidden" value="<%=listTitle %>" name="title">
  <center><button class="button-35" type="submit" >إعادة تعيين</button></center>
  </form>

  <form action="/">
    <button class="button-35" type="submit">العودة</button>
  </form>
  
  <%- include("footer") -%>
